{% load i18n %}
<footer class="footer container-fluid">
    {% block footer %}

    <ul class="footer_links inline mt-5">
	  <div class="container">
	  	<br>
			<span class="text-muted">Algumumas informacoes irao aqui</span>
			<br>
			<span class="text-muted">Algumumas informacoes irao aqui</span>
			<br>
			<span class="text-muted">Algumumas informacoes irao aqui</span>
			<br>
			<span class="text-muted">Algumumas informacoes irao aqui</span>
			<br>
			<span class="text-muted">Algumumas informacoes irao aqui</span>
			<br>
			<span class="text-muted">Algumumas informacoes irao aqui</span>
      </div>
        {% comment %}
            Could be used for displaying links to privacy policy, terms of service, etc.
            We have a CSS class defined:
                <ul class="footer_links inline">
                    ...
                </ul>
         {% endcomment %}
    {% endblock %}
</footer>