{% load currency_filters %}
{% load category_tags %}
{% load i18n %}


<div class="header-bottom"><!--header-bottom-->
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="navbar-header">
                
            </div>
            <div class="mainmenu pull-left">
                <ul class="nav navbar-nav collapse navbar-collapse">
                    <li><a href="{% url 'catalogue:index' %}">{% trans 'Home' %}</a></li>
                    <li class="dropdown"><a href="#" class="active">{% trans "Browse store" %}<i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            {% category_tree depth=2 as tree_categories %}
                            
                            {% if tree_categories %}
                                <li class="divider"></li>
                                {% for tree_category in tree_categories %}
                                    {% if tree_category.has_children %}
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                                            <ul class="dropdown-menu">
                                            {% else %}
                                                <li><a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>
                                            {% endif %}

                                            {% for close in tree_category.num_to_close %}
                                                </ul></li>
                                            {% endfor %}
                                {% endfor %}
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li> 
                            {% block nav_dropdown_extra_items %}
                            {% endblock %}
                          
                        </ul>
                    </li>
                    <li><a tabindex="-1" href="{% url 'catalogue:index' %}">{% trans "All products" %}</a></li>
                    <li><a href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li> 
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="search_box pull-right">
                {% include "oscar/partials/search.html" %}
            </div>
        </div>
    </div>
    </div>
</div>


